@font-face {
    font-family: 'CocogooseProTrial Regular';
    src: url('font/Cocogoose-Pro-Regular-trial.ttf') format('truetype');
}

@font-face {
    font-family: 'CuteBounce';
    src: url('font/ByteBounce.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceMono-Regular';
    src: url('font/SpaceMono-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'CocogooseProTrial Regular', sans-serif;
    background-color: #fff;
    color: #000;
}

h1 {
    font-family: 'ByteBounce', sans-serif;
    font-size: 40px;
    color: #000;
}

p {
    font-family: 'SpaceMono-Regular', sans-serif;
    font-size: 12px;
    color: #000;

}

a {
    color: #743D89;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
a:hover {
    color: #000;
}

a:visited {
    color: #743D89;
}

nav {
    position: sticky;
    top: 0;
    background-color: #D6C3D7;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(105, 105, 105, 0.6);
}

.navlogo-img {
    height: 60px;
    margin-left: 10px;
    width: auto;
}

.navtop {
    margin-right: 30px;
    display: flex;
    gap: 1.5rem;
}

.navtop li {
    list-style: none;
}

.navtop a {
    text-decoration: none;
    color: #743D89;
    transition: color 0.3s ease;
}

.navtop a:hover {
    color: #000;
}

.cas-image {
    position: fixed;
    top: 97px;
    right: 60px;
    width: 96%;
    z-index: 1;
    pointer-events: none;
}

.content {
    background: linear-gradient(180deg, #D6C3D7, #EFE8F3);
    width: 300px;
    height: 350px;
    margin-top: 6%;
    margin-left: 30%;
    padding-left: 415px;
    padding-bottom: 50px;
    padding-right: 70px;
    padding-top: 6px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(85, 85, 85, 0.5);
    position: fixed;    
    align-items: center;
    justify-content: center;      
}